@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Dancing+Script:wght@400..700&family=Lexend+Deca:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sankofa+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    --primary-yellow:#f6db35;
    --secondary-yellow:	#ffc510;
    --comic-red:#ee5454;
    transition: all 1s ease;
    scroll-behavior: smooth;
}
body{
    font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background:linear-gradient(var(--primary-yellow),var(--comic-red));
  background-attachment: fixed;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    
}
nav ul{
    display: flex;
    gap: 30px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
a:hover{
    color: var(--comic-red);
}
header .logo{
    font-size: 48px;
    animation: jumping 1s ease infinite alternate;
}
header .logo span{
    color: var(--comic-red);
}
/* banner starts */
#banner{
    padding: 50px 100px;
    display: flex;
    gap: 30px;
}
.right img{
    height: 500px;
    -webkit-animation: swirl-in-fwd 2s ease-out infinite alternate both;
	        animation: swirl-in-fwd 2s ease-out infinite alternate both;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left h1{
  font-size: 60px;
}
.left h1 span{
    color: var(--comic-red);
}
.left p{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5px;
}
.left .buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    background-color: black;
    color:white;
    height: 50px;
    width: 150px;
    border-radius: 20px;
     font-family: "Bangers", system-ui;
     font-size: 18px;
     letter-spacing: 5px;
}
.buttons button:hover{
    background-color: var(--comic-red);
    color: var(--secondary-yellow);
}
#about{
  padding: 50px 100px;
}
.about-sec{
    display: flex;
    gap: 20px;
      padding: 50px 0px;
}
.heading{
    font-size: 48px;
    text-align: center;
}
.about-sec .left img{
    height: 300px; 
}
.details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.about-sec .right>p{
     font-size: 24px;
    line-height: 36px;
    letter-spacing: 5px;
}
.detail{
    box-shadow: 5px 5px var(--comic-red);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
}
.detail p{
    font-weight: 400;
}
/* animations */
@keyframes jumping {
    0%{
        position: relative;
        bottom:0px
    }
  100%{
        position: relative;
        bottom: 50px;
  }    
}
#projects{
    padding: 50px 100px;
}
.projects-sec{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    padding: 50px 0px;
}
.project img{
    width: 300px;
}
.project{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px var(--comic-red);
}
.project h3{
    font-size: 30px;
}
.project p{
    font-size: 24px;
    font-weight: 400px;
}
.project button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.project a{
    color: white;
}
.project button:hover{
    background-color: var(--comic-red);
}
#contact{
    padding: 50px 100px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
#contact input{
    width: 50vw;
    height: 100px;
    border-radius: 20px;
    font-size: 24px;
}
#contact textarea{
    width: 50vw;
    height: 200px;
    resize: none;
    border-radius: 20px;
    font-size: 24px;
}
#contact button{
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

footer{
    text-align: center;
    color: white;
    font-size: 48px;
    border-top: 2px solid black;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}


@media (min-width:571px) and (max-width:768px){
header{
    flex-direction: column;
    gap: 20px;
}
#banner{
    flex-direction: column-reverse;
}
.left{
    gap: 20px;
}
.about-sec{
    flex-direction: column;
}
.details{
        grid-template-columns: repeat(1,1fr);

}
.projects-sec{
    grid-template-columns: repeat(1,1fr);
}
}
@media (max-width:570px){
header{
    flex-direction: column;
    gap: 20px;
}
nav ul{
    flex-direction: column;
}
#banner{
    flex-direction: column-reverse;
}
.right img{
    height:300px
}
.left h1{
    font-size: 48px;
}
.left p{
    font-size: 16px;
}
.left{
    gap: 20px;
}
.about-sec{
    flex-direction: column;
}
.details{
    grid-template-columns: repeat(1,1fr);
}
.details p{
text-wrap: wrap;}
.projects-sec{
    grid-template-columns: repeat(1,1fr);
}
}